<% if documents.present? %>
  <p>
    <strong>Profile:</strong>
    <%= @profile.id %>
  </p>

  <strong>Documents:</strong>
  <% documents&.each do |document| %>
    <p>
      <%= image_tag(document.docs.url, style:"height: 300px; width:500px") %>
      <%= link_to 'Delete', profile_document_path(@profile, document), method: :delete %> 
    </p>
      <%= link_to 'Edit', edit_profile_document_path(@profile, document) %> 
  <% end %>

<% end %>